*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  background-color: black;
  width: 100vw;
  height: 100vh;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.change-btn {
  padding: 1rem 3rem;
  margin: 1rem 0;
  outline: none;
  background-color: black;
  color: aliceblue;
  border: 2px solid #fff;
  border-radius: 25px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
.copy-btn {
  padding: 3px;
  background-color: rgb(244, 240, 240);
  color: rgb(0, 0, 0);
  border: 1px solid #0e0909;
  border-radius: 5px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}
.change-btn:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
.heading {
  text-shadow: 1px 1px #d50f0c;
  color: #fff;
  margin: 20px 0;
}

.colorPicker {
  color: #000;
  border: 2px solid rgb(10, 8, 6);
  border-radius: 10px;
  margin: 20px 0;
  text-align: center;
  font-size: 20px;
}
